<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barrycards">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarryCards">
        <activity
            android:name=".multiMedijskaTehnikaPitanja.ActivityMultiMedija"
            android:exported="false"
            android:parentActivityName=".trecaGodina.ActivityTrecaGodina" />
        <activity
            android:name=".AddEditPitanja"
            android:exported="false" />
        <activity
            android:name=".trecaGodina.NePostojecaPitanja3"
            android:exported="false"
            android:parentActivityName=".trecaGodina.ActivityTrecaGodina" />
        <activity
            android:name=".trecaGodina.ActivityTrecaGodina"
            android:exported="false"
            android:parentActivityName=".OdabirActivity" />
        <activity
            android:name=".drugaGodina.ActivityDrugaGodina"
            android:exported="false"
            android:parentActivityName=".OdabirActivity" />
        <activity
            android:name=".AddEditKolegiji"
            android:exported="false"
            android:parentActivityName=".prvaGodina.ActivityPrvaGodina" />
        <activity
            android:name=".prvaGodina.ActivityPrvaGodina"
            android:exported="false"
            android:parentActivityName=".OdabirActivity" />
        <activity
            android:name=".admin.AdminPrijava"
            android:exported="false"
            android:parentActivityName=".OdabirActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OdabirActivity"
            android:exported="false" />
    </application>

</manifest>